.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-card {
  display: flex;
  margin-bottom: 3em;
}

.blog-img {
  flex: 1;
  padding-right: 3em;
}

.blog-img img {
  width: 25em;
}

.blog-paragraph {
  flex: 2;
  align-content: center;
}

.blog-paragraph h3 {
  color: var(--color-main);
  font-size: 1.5em;
}

.blog-paragraph p {
  font-size: 1.2em;
  line-height: 1.5em;
  color: var(--color-text-1);
  margin-top: 1em;
}

@media (max-width: 1200px) {
  .blog-img img {
    width: 22em;
  }

  .blog-paragraph h3 {
    font-size: 1.3em;
  }

  .blog-paragraph p {
    font-size: 1em;
  }
}

@media (max-width: 992px) {
  .blog-card {
    flex-direction: column;
    gap: 1em;
  }
  .blog-img img {
    width: 20em;
  }
}

@media (max-width: 768px) {
  main {
    padding-left: 5em;
    padding-right: 5em;
  }

  main h2 {
    align-self: center;
  }
}

@media (max-width: 576px) {
  main h2 {
    font-size: 1.5em;
  }
  .blog-card {
    align-items: center;
  }
  .blog-img {
    padding: 0;
  }
  .blog-img img {
    width: 16em;
  }

  main h3 {
    text-align: center;
  }
}
