main {
  align-items: flex-start;
  gap: 0;
}

form {
  display: grid;
  width: 60%;
}

input {
  display: block;
  border: solid 2px rgba(128, 128, 128, 0.25);
  height: 4em;
  width: 100%;
}

label {
  margin: 0.5em 0 1em;
}

.blue {
  font-size: 1.6em;
  font-weight: bold;
  color: var(--color-main);
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.box1 {
  flex: 1;
}

.box2 {
  flex: 0.4;
}

.box3 {
  flex: 0.6;
}

.half-box {
  width: 45%;
}

.choice-box {
  display: flex;
  gap: 3em;
}

.choice {
  display: flex;
  margin: 0;
  align-items: center;
  gap: 0.5em;
}

.choice p {
  color: rgb(93, 93, 93);
  font-weight: normal;
  font-family: monospace;
  font-size: 1.2em;
}

.radio {
  width: 1.8em;
}

.check-out-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.checkout-dog-card {
  display: flex;
  gap: 1em;
  margin: 1em 1em 2em 0;
}

.checkout-dog-card img {
  width: 5em;
}

.checkout-dog-card h4 {
  font-size: 1.3em;
  color: var(--color-main);
  margin-top: 0.5em;
}

.checkout-dog-card p {
  margin-top: 0.5em;
}

.button {
  color: var(--color-sub-2);
  background-color: var(--color-sub-1);
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
  height: 3em;
}

.total {
  font-weight: normal;
  color: black;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

@media (max-width: 1200px) {
  form {
    width: 80%;
  }
}

@media (max-width: 992px) {
  form {
    width: 100%;
  }
}

@media (max-width: 768px) {
  main {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .blue {
    font-size: 1.3em;
  }
}

@media (max-width: 576px) {
  main {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .blue {
    font-size: 1.1em;
  }
}
