.adopt-lists {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4em;
}

.dog-card {
  width: 15em;
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.25);
}

.dog-card h3 {
  padding: 0 0.5em;
  color: var(--color-main);
  font-size: 1.5em;
}

.dog-card p {
  padding: 0 0.8em;
}

.adopt-lists button {
  margin: 0.5em 1em 1em;
  padding: 0.5em 1em;
  color: var(--color-sub-2);
  background-color: var(--color-sub-1);
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .adopt-lists {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .adopt-lists {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  main {
    padding-left: 5em;
    padding-right: 5em;
  }

  main h2 {
    align-self: center;
  }
}

@media (max-width: 576px) {
  main {
    padding-left: 5em;
  }

  main h2 {
    font-size: 1.5em;
  }

  .adopt-lists {
    grid-template-columns: 1fr;
  }
}
