:root {
  --color-main: #093c60;
  --color-sub-1: #81b741;
  --color-sub-2: #ffffff;
  --color-sub-3: #ececec;
  --color-text-1: gray;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "comic sans";
  background-color: var(--color-sub-2);
}

header {
  width: 100vw;
  height: 60vh;

  background: var(--color-main);
  background-image: url(images/header-image.jpg);
  background-size: cover;

  color: var(--color-sub-2);

  display: flex;
  justify-content: space-between;
}

.banner {
  display: flex;
  flex-direction: column;
}

.banner img {
  width: 30em;
  margin: 5em 5em 0;
}

.banner h1 {
  color: var(--color-sub-1);
  font-family: "comic sans";
  font-size: 1.8em;
  font-style: italic;
  font-weight: 500;
  margin-left: 5rem;
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 5em;
}

.shopping-cart {
  display: flex;
  gap: 0.5em;
  justify-content: end;
  align-items: baseline;
  margin-top: 5em;
}

.shopping-cart img {
  width: 1.5em;
}

.shopping-cart p {
  font-weight: bold;
}

.checkout button {
  border-radius: 0.3em;
  color: var(--color-sub-2);
  background-color: var(--color-sub-1);
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 0.4em 3em;
  margin-top: 1em;
}

nav ul {
  background-color: var(--color-sub-3);
  display: flex;
  list-style: none;
  padding: 1.5em 10em;
  font-weight: bold;
}

nav ul li + li:before {
  margin: 1em;
  content: "/\00a0";
  color: var(--color-main);
}

nav ul li a {
  font-size: 1.2em;
  color: var(--color-main);
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 2em 10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

main h2 {
  align-self: flex-start;
  color: var(--color-main);
  margin-bottom: 1em;
  font-size: 2em;
}

footer {
  background-color: var(--color-main);

  text-align: center;
  font-size: 1em;
  color: var(--color-sub-2);
  padding: 3em 10em;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

footer img {
  width: 20em;
}

footer p {
  line-height: 1.5;
  font-size: 0.8em;
}

footer ul {
  list-style: none;
  display: flex;
  font-size: 1em;
}

.footer-link li + li:before {
  margin: 0.5em;
  content: "/\00a0";
}

footer ul li a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

footer ul li a:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 0.8em;
}

.copyright li + li:before {
  margin: 1em;
  content: "|\00a0";
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
  .banner img {
    width: 20em;
  }

  .banner h1 {
    font-size: 1.3em;
  }
}

@media (max-width: 768px) {
  header {
    height: 50vh;
  }

  .banner img {
    width: 17em;
  }

  .banner h1 {
    font-size: 1.1em;
  }

  .shopping-cart img {
    width: 1.2em;
  }

  .shopping-cart p {
    font-weight: bold;
    font-size: 0.8em;
  }

  .checkout button {
    border-radius: 0.3em;
    padding: 0.2em 1.8em;
    margin-top: 1em;
  }

  nav ul {
    padding: 1.5em 5em;
  }
}

@media (max-width: 576px) {
  header {
    height: 35vh;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .banner img {
    width: 17em;
    margin: 0 2em 0;
  }

  .banner h1 {
    font-size: 1.2em;
    margin-left: 2em;
  }

  .checkout {
    margin-right: 2em;
  }

  nav ul {
    padding: 1.5em 2em;
  }

  footer {
    padding: 3em 5em;
  }
  footer img {
    width: 15em;
  }

  footer p {
    font-size: 0.7em;
  }

  footer ul {
    font-size: 0.8em;
  }

  .copyright li + li:before {
    margin: 0.4rem;
    content: "|\00a0";
  }

  .copyright {
    font-size: 0.5em;
  }
}
