#blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-card {
  display: flex;
  align-items: center;
  margin-bottom: 3em;
}

.blog-img {
  flex: 1;
  align-items: center;
  padding-right: 3em;
  height: 100%;
}

.blog-info {
  flex: 2;
  align-content: center;
}

.blog-info h3 {
  color: var(--color-main);
  font-size: 1.5em;
}

.blog-info p {
  font-size: 1.2em;
  line-height: 1.5em;
  color: var(--color-text-1);
  margin-top: 1em;
}

@media (max-width: 992px) {
  main {
    gap: 0;
  }
  .blog-card {
    flex-direction: column;
    margin-top: 1em;
  }
  .blog-img {
    padding: 0;
    margin-bottom: 1em;
  }
}

@media (max-width: 768px) {
  main {
    padding-left: 5em;
    padding-right: 5em;
  }

  main h2 {
    align-self: center;
  }
}

@media (max-width: 576px) {
  main {
    padding-left: 1em;
    padding-right: 1em;
  }

  main h3 {
    text-align: center;
  }
}
